@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  font-family: "Karantina", cursive;
  background: #8a0000;
  color: #fff;
  font-size: 16px;
}

.modal {
  top: -100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(1, 1, 1, 0.5);
  width: 98vw;
  height: 100%;
  margin: 0 auto;
}

.modal__box {
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  background: #fff;
  color: #333;
  padding: 7rem;
}

.modal__box i {
  top: 5%;
  left: 90%;
  position: absolute;
  font-size: 1.3rem;
}

.modal__box i:hover {
  cursor: pointer;
}

.dashboard__header p {
  font-size: 1.5rem;
}

.container {
  margin: 3rem auto;
  max-width: 80%;
}

.dashboard__main {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50px;
  justify-content: space-around;
}

.dashboard__player {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  border-radius: 5px;
  background: #333333;
  font-size: 1.5rem;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  flex: 1 0 40%;
}

.buttons {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  padding: 2rem;
  flex-basis: 40%;
  border: none;
  background: #333333;
  color: #fff;
  transition: all 0.3s ease-in;
  border-radius: 15px;
}

.button:hover {
  background: #bf1313;
}

.dashboard__main--playerImg {
  max-width: 100%;
}
