@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karantina", cursive;
  background: #8a0000;
  color: #fff;
  font-size: 16px;
}

.dashboard__header p {
  font-size: 1.5rem;
}

.container {
  margin: 3rem auto;
  max-width: 80%;
}

.dashboard__main {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50px;
  justify-content: space-around;
}

.dashboard__player {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  border-radius: 5px;
  background: #333333;
  font-size: 1.5rem;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  flex: 1 0 40%;
}

.dashboard__main--playerImg {
  max-width: 100%;
}
